    <footer id="footer" class="footer midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="pull-right-sm">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about_us">About Us</a></li>
                        <li><a href="/faq">FAQ</a></li>
                        <li><a href="/contact_us">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
