        {% extends 'layout.html' %}
        {% block title %}Medical Amenities{% endblock %}
        {% block body %}
        <section id="portfolio">
            <div class="container">
                <div class="center">
                <h2>Medical Amenities</h2>
                <p class="lead">Each and every medical amenities in Singapore right at your fingertips</p>
                </div>
            

                <ul class="portfolio-filter text-center">
                    <li><h3>Filter:&nbsp;&nbsp;&nbsp;</h3></li>
                    <li><a class="btn btn-default active" href="#" data-filter="*">All</a></li>
                    <li><a class="btn btn-default" href="#" data-filter=".north">North</a></li>
                    <li><a class="btn btn-default" href="#" data-filter=".south">South</a></li>
                    <li><a class="btn btn-default" href="#" data-filter=".east">East</a></li>
                    <li><a class="btn btn-default" href="#" data-filter=".west">West</a></li>
                    <li><a class="btn btn-default" href="#" data-filter=".central">Central</a></li>
                </ul><!--/#portfolio-filter-->
                
                <ul class="portfolio-filter text-center">
                    <li><a class="btn btn-default" href="#" data-filter=".hospital">Hospital</a></li>
                    <li><a class="btn btn-default" href="#" data-filter=".polyclinic">Polyclinic</a></li>
                </ul><!--/#portfolio-filter-->
                
                <div class="row">
                    <div class="portfolio-items">
                        <div class="portfolio-item north polyclinic col-xs-12 col-sm-4 col-md-3">
                            <div class="recent-work-wrap">
                                <img class="img-responsive" src="../static/images/amenities/yishunpolyclinic.gif" alt=""/>
                                <div class="overlay">
                                    <div class="recent-work-inner">
                                        <h3><a href="#">Yishun Polyclinic</a></h3>
                                        <a class="preview" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.582269566553!2d103.83431911522607!3d1.4262328617214082!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da146ec3844955%3A0x3fbdab42ebdf52d3!2sYishun+Polyclinic!5e0!3m2!1sen!2ssg!4v1500367595164&output=embed?iframe=true&width=640&height=480" rel="prettyPhoto" title="Contact Number: 6355-3000"><p class="yohoho">TEST TEST</p><i class="fa fa-eye"></i> View</a>
                                        <a class="preview" href="" rel="prettyPhoto" title="Contact Number: 6355-3000"><p class="yohoho">TEST TEST</p><i class="fa fa-eye"></i> Book</a><a class="preview" href="" rel="prettyPhoto" title="Contact Number: 6355-3000"><p class="yohoho">TEST TEST</p><i class="fa fa-eye"></i> Track</a>
                                    </div> 
                                </div>
                            </div>
                        </div><!--/.portfolio-item-->

                        <div class="portfolio-item north polyclinic col-xs-12 col-sm-4 col-md-3">
                            <div class="recent-work-wrap">
                                <img class="img-responsive" src="../static/images/amenities/woodlandsclinic.gif" alt="">
                                <div class="overlay">
                                    <div class="recent-work-inner">
                                        <h3><a href="#">Woodlands Polyclinic</a></h3>
                                        <p>SAMPLE TEXT</p>
                                        <a class="preview" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.5741707055777!2d103.77304871522608!3d1.4308979617071163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1252b25fcbb7%3A0x210ea818a73e413c!2sWoodlands+Polyclinic+(NHG)!5e0!3m2!1sen!2ssg!4v1500367959880&output=embed?iframe=true&width=640&height=480" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                    </div> 
                                </div>
                            </div>          
                        </div><!--/.portfolio-item-->

                        <div class="portfolio-item north hospital col-xs-12 col-sm-4 col-md-3">
                            <div class="recent-work-wrap">
                                <img class="img-responsive" src="../static/images/amenities/ktph.jpg" alt="">
                                <div class="overlay">
                                    <div class="recent-work-inner">
                                        <h3><a href="#">Khoo Teck Puat Hospital</a></h3>
                                        <p>SAMPLE TEXT</p>
                                        <a class="preview" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.586242547073!2d103.83647831522609!3d1.4239387617284134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da146c6e9a63af%3A0x6961b610a7be48b9!2sKhoo+Teck+Puat+Hospital!5e0!3m2!1sen!2ssg!4v1500370621081&output=embed?iframe=true&width=640&height=480" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                    </div> 
                                </div>
                            </div>        
                        </div><!--/.portfolio-item-->

                        <div class="portfolio-item north hospital col-xs-12 col-sm-4 col-md-3">
                            <div class="recent-work-wrap">
                                <img class="img-responsive" src="../static/images/amenities/yishuncommhospital.jpg" alt="">
                                <div class="overlay">
                                    <div class="recent-work-inner">
                                        <h3><a href="#">Yishun Community Hospital</a></h3>
                                        <p>SAMPLE TEXT</p>
                                        <a class="preview" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.5869871479276!2d103.83496011457277!3d1.4235083989618251!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da146c37ce91cf%3A0xfedba16008ca83e7!2sYishun+Community+Hospital!5e0!3m2!1sen!2ssg!4v1500516196130&output=embed?iframe=true&width=640&height=480" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                    </div> 
                                </div>
                            </div>           
                        </div><!--/.portfolio-item-->
            
                        <div class="portfolio-item south polyclinic col-xs-12 col-sm-4 col-md-3">
                            <div class="recent-work-wrap">
                                <img class="img-responsive" src="../static/images/amenities/queenstown.jpg" alt="">
                                <div class="overlay">
                                    <div class="recent-work-inner">
                                        <h3><a href="#">Queenstown Polyclinic</a></h3>
                                        <p>SAMPLE TEXT</p>
                                        <a class="preview" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7938855635857!2d103.79885981477597!3d1.2984119990529974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1a3a0557b45d%3A0x7bc1a992cb55c71f!2sSingHealth+Polyclinics!5e0!3m2!1sen!2ssg!4v1500878049370&output=embed?iframe=true&width=640&height=480" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                    </div> 
                                </div>
                            </div>      
                        </div><!--/.portfolio-item-->

                        <div class="portfolio-item south polyclinic col-xs-12 col-sm-4 col-md-3">
                            <div class="recent-work-wrap">
                                <img class="img-responsive" src="../static/images/amenities/outram.jpg" alt="">
                                <div class="overlay">
                                    <div class="recent-work-inner">
                                        <h3><a href="#">Outram Polyclinic</a></h3>
                                        <p>SAMPLE TEXT</p>
                                        <a class="preview" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.8234242499407!2d103.83618031477589!3d1.2795549990667419!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1971e2b3d137%3A0x609262dea8e72ffb!2sSingHealth+Polyclinics+-+Outram!5e0!3m2!1sen!2ssg!4v1500878101145&output=embed?iframe=true&width=640&height=480" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                    </div> 
                                </div>
                            </div>         
                        </div><!--/.portfolio-item-->

                        <div class="portfolio-item south hospital col-xs-12 col-sm-4 col-md-3">
                            <div class="recent-work-wrap">
                                <img class="img-responsive" src="../static/images/amenities/gleneagles.jpg" alt="">
                                <div class="overlay">
                                    <div class="recent-work-inner">
                                        <h3><a href="#">Gleneagles Hospital</a></h3>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                        <a class="preview" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.779641487404!2d103.81785831477598!3d1.3074079990464436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1a2024d17459%3A0x2559534cd241d05c!2sGleneagles+Hospital!5e0!3m2!1sen!2ssg!4v1500878743173&output=embed?iframe=true&width=640&height=480" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                    </div> 
                                </div>
                            </div>          
                        </div><!--/.portfolio-item-->

                        <div class="portfolio-item south hospital col-xs-12 col-sm-4 col-md-3">
                            <div class="recent-work-wrap">
                                <img class="img-responsive" src="../static/images/amenities/raffles.jpg" alt="">
                                <div class="overlay">
                                    <div class="recent-work-inner">
                                        <h3><a href="#">Raffles Hospital</a></h3>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                        <a class="preview" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d102783.18719982052!2d103.81584126444329!3d1.2839532769560138!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da11e999ce5671%3A0xafc0dbfc6e30835f!2sRaffles+Hospital!5e0!3m2!1sen!2ssg!4v1500879026054&output=embed?iframe=true&width=640&height=480" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                    </div> 
                                </div>
                            </div>          
                        </div><!--/.portfolio-item-->
                        
                        <div class="portfolio-item south hospital col-xs-12 col-sm-4 col-md-3">
                        
                            <div class="recent-work-wrap">
                                <img class="img-responsive" src="../static/images/amenities/sgh.jpg" alt="">
                                <div class="overlay">
                                    <div class="recent-work-inner">
                                        <h3><a href="#">Singapore General Hospital</a></h3>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                        <a class="preview" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.8228595489372!2d103.83269371477591!3d1.2799180990664702!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da196f954c6cd5%3A0x5c6009b161544a96!2sSingapore+General+Hospital!5e0!3m2!1sen!2ssg!4v1500879375182&output=embed?iframe=true&width=640&height=480" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                    </div> 
                                </div>
                            </div>          
                        </div><!--/.portfolio-item-->
                        
                        <div class="portfolio-item south hospital col-xs-12 col-sm-4 col-md-3">
                            <div class="recent-work-wrap">
                                <img class="img-responsive" src="../static/images/amenities/nuh.jpg" alt="">
                                <div class="overlay">
                                    <div class="recent-work-inner">
                                        <h3><a href="#">National University Hospital</a></h3>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                        <a class="preview" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7990212164254!2d103.78111891477602!3d1.2951531990553706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1a5180e324bb%3A0xb9734b40675a0ca3!2sNational+University+Hospital!5e0!3m2!1sen!2ssg!4v1500879488020&output=embed?iframe=true&width=640&height=480" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                    </div> 
                                </div>
                            </div>          
                        </div><!--/.portfolio-item-->
                        
                        <div class="portfolio-item east polyclinic col-xs-12 col-sm-4 col-md-3">
                            <div class="recent-work-wrap">
                                <img class="img-responsive" src="../static/images/amenities/bedok.jpg" alt="">
                                <div class="overlay">
                                    <div class="recent-work-inner">
                                        <h3><a href="#">Bedok Polyclinic</a></h3>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                        <a class="preview" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7500737826253!2d103.92947631477594!3d1.3258869990329647!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da3d4b52df29ad%3A0x269cf5eb8e84085a!2sSingHealth+Polyclinics+-+Bedok!5e0!3m2!1sen!2ssg!4v1500881381356&output=embed?iframe=true&width=640&height=480" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                    </div> 
                                </div>
                            </div>          
                        </div><!--/.portfolio-item-->
                        
                        <div class="portfolio-item east polyclinic col-xs-12 col-sm-4 col-md-3">
                            <div class="recent-work-wrap">
                                <img class="img-responsive" src="../static/images/amenities/geylang.jpg" alt="">
                                <div class="overlay">
                                    <div class="recent-work-inner">
                                        <h3><a href="#">Geylang Polyclinic</a></h3>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                        <a class="preview" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7603786777863!2d103.88496831477599!3d1.319476099037647!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1818099508f3%3A0xb6d7b5ac3c3bd247!2sSingHealth+Polyclinics+-+Geylang!5e0!3m2!1sen!2ssg!4v1500878608896&output=embed?iframe=true&width=640&height=480" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                    </div> 
                                </div>
                            </div>          
                        </div><!--/.portfolio-item-->
                        
                        <div class="portfolio-item east polyclinic col-xs-12 col-sm-4 col-md-3">
                            <div class="recent-work-wrap">
                                <img class="img-responsive" src="../static/images/amenities/hougang.gif" alt="">
                                <div class="overlay">
                                    <div class="recent-work-inner">
                                        <h3><a href="#">Hougang Polyclinic</a></h3>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                        <a class="preview" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.6779311377236!2d103.88714651477603!3d1.3699286990008706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1649bbf70e7f%3A0xfaa763006475229e!2sHougang+Polyclinic!5e0!3m2!1sen!2ssg!4v1500881191214&output=embed?iframe=true&width=640&height=480" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                    </div> 
                                </div>
                            </div>          
                        </div><!--/.portfolio-item-->
                        
                        <div class="portfolio-item east polyclinic col-xs-12 col-sm-4 col-md-3">
                            <div class="recent-work-wrap">
                                <img class="img-responsive" src="../static/images/amenities/sengkang.jpg" alt="">
                                <div class="overlay">
                                    <div class="recent-work-inner">
                                        <h3><a href="#">Sengkang Polyclinic</a></h3>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                        <a class="preview" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.6397181051325!2d103.89213731477601!3d1.3926929989842858!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da160d7e8fd807%3A0x7f2d49e9fcc16a18!2sSingHealth+Polyclinics+-+Sengkang!5e0!3m2!1sen!2ssg!4v1500881218613&output=embed?iframe=true&width=640&height=480" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                    </div> 
                                </div>
                            </div>          
                        </div><!--/.portfolio-item-->
                        
                        <div class="portfolio-item east polyclinic col-xs-12 col-sm-4 col-md-3">
                            <div class="recent-work-wrap">
                                <img class="img-responsive" src="../static/images/amenities/tampines.jpg" alt="">
                                <div class="overlay">
                                    <div class="recent-work-inner">
                                        <h3><a href="#">Tampines Polyclinic</a></h3>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                        <a class="preview" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.6986666179514!2d103.94372741477596!3d1.3574163990099826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da3d0f3d554aaf%3A0x13ee7cb70a5002e0!2sSingHealth+Polyclinics+-+Tampines!5e0!3m2!1sen!2ssg!4v1500881235405&output=embed?iframe=true&width=640&height=480" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                    </div> 
                                </div>
                            </div>          
                        </div><!--/.portfolio-item-->
                        
                        <div class="portfolio-item east hospital col-xs-12 col-sm-4 col-md-3">
                            <div class="recent-work-wrap">
                                <img class="img-responsive" src="../static/images/amenities/parkway.jpg" alt="">
                                <div class="overlay">
                                    <div class="recent-work-inner">
                                        <h3><a href="#">Parkway East Hospital</a></h3>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                        <a class="preview" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7672984879705!2d103.90679061477596!3d1.315153599040797!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da180f3a97d311%3A0xf66d56e994872b73!2sParkway+East+Hospital!5e0!3m2!1sen!2ssg!4v1500897249206&output=embed?iframe=true&width=640&height=480" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                    </div> 
                                </div>
                            </div>          
                        </div><!--/.portfolio-item-->
                        
                        <div class="portfolio-item east hospital col-xs-12 col-sm-4 col-md-3">
                            <div class="recent-work-wrap">
                                <img class="img-responsive" src="../static/images/amenities/cgh.jpg" alt="">
                                <div class="overlay">
                                    <div class="recent-work-inner">
                                        <h3><a href="#">Changi General Hospital</a></h3>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                        <a class="preview" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7260995437787!2d103.94735831477603!3d1.3406832990221835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da3d235406d0cb%3A0xd0d464b7d1c77552!2sChangi+General+Hospital!5e0!3m2!1sen!2ssg!4v1500897366164&output=embed?iframe=true&width=640&height=480" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                    </div> 
                                </div>
                            </div>          
                        </div><!--/.portfolio-item-->                
                        
                        <div class="portfolio-item west polyclinic col-xs-12 col-sm-4 col-md-3">
                            <div class="recent-work-wrap">
                                <img class="img-responsive" src="../static/images/amenities/bb.gif" alt="">
                                <div class="overlay">
                                    <div class="recent-work-inner">
                                        <h3><a href="#">Bukit Batok Polyclinic</a></h3>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                        <a class="preview" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.707629727127!2d103.74573541457265!3d1.3519719990139578!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da10395b8ff64d%3A0x3eda9480ecb1b51c!2sBukit+Batok+Polyclinic!5e0!3m2!1sen!2ssg!4v1500516231889&output=embed?iframe=true&width=640&height=480" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                    </div> 
                                </div>
                            </div>          
                        </div><!--/.portfolio-item-->
                        
                        <div class="portfolio-item west polyclinic col-xs-12 col-sm-4 col-md-3">
                            <div class="recent-work-wrap">
                                <img class="img-responsive" src="../static/images/amenities/bm.jpg" alt="">
                                <div class="overlay">
                                    <div class="recent-work-inner">
                                        <h3><a href="#">Bukit Merah Polyclinic</a></h3>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                        <a class="preview" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.8166953070054!2d103.81471031457257!3d1.2838749990635925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1bd168379967%3A0xbde5917300f2683f!2sSingHealth+Polyclinics+-+Bukit+Merah!5e0!3m2!1sen!2ssg!4v1500516269254&output=embed?iframe=true&width=640&height=480" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                    </div> 
                                </div>
                            </div>          
                        </div><!--/.portfolio-item-->
                        
                        <div class="portfolio-item west polyclinic col-xs-12 col-sm-4 col-md-3">
                            <div class="recent-work-wrap">
                                <img class="img-responsive" src="../static/images/amenities/cck.gif" alt="">
                                <div class="overlay">
                                    <div class="recent-work-inner">
                                        <h3><a href="#">Choa Chu Kang Polyclinic</a></h3>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                        <a class="preview" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.658006339979!2d103.74913031457271!3d1.3818450989921776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da11c06e3b2261%3A0x6ebf5741572663ec!2sChoa+Chu+Kang+Polyclinic!5e0!3m2!1sen!2ssg!4v1500516297421&output=embed?iframe=true&width=640&height=480" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                    </div> 
                                </div>
                            </div>          
                        </div><!--/.portfolio-item-->
                        
                        <div class="portfolio-item west polyclinic col-xs-12 col-sm-4 col-md-3">
                            <div class="recent-work-wrap">
                                <img class="img-responsive" src="../static/images/amenities/jurong.jpg" alt="">
                                <div class="overlay">
                                    <div class="recent-work-inner">
                                        <h3><a href="#">Jurong Polyclinic</a></h3>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                        <a class="preview" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1498.8808252065148!2d103.72980696096582!3d1.3497040471856203!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x89801f790d617cbd!2sNational+Healthcare+Group+Pharmacy+-+Jurong!5e0!3m2!1sen!2ssg!4v1500516359304&output=embed?iframe=true&width=640&height=480" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                    </div> 
                                </div>
                            </div>          
                        </div><!--/.portfolio-item-->
                        
                        <div class="portfolio-item west hospital col-xs-12 col-sm-4 col-md-3">
                            <div class="recent-work-wrap">
                                <img class="img-responsive" src="../static/images/amenities/ntf.jpg" alt="">
                                <div class="overlay">
                                    <div class="recent-work-inner">
                                        <h3><a href="#">Ng Teng Fong General Hospital</a></h3>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                        <a class="preview" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.737933006249!2d103.74337081476138!3d1.3334004990274928!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da100e96398143%3A0xc7ba1e548df2915e!2sNg+Teng+Fong+General+Hospital!5e0!3m2!1sen!2ssg!4v1500876876587&output=embed?iframe=true&width=640&height=480" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                    </div> 
                                </div>
                            </div>          
                        </div><!--/.portfolio-item-->
                        
                        <div class="portfolio-item central polyclinic col-xs-12 col-sm-4 col-md-3">
                            <div class="recent-work-wrap">
                                <img class="img-responsive" src="../static/images/amenities/amk.gif" alt="">
                                <div class="overlay">
                                    <div class="recent-work-inner">
                                        <h3><a href="#">Ang Mo Kio Polyclinic</a></h3>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                        <a class="preview" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.6739752903195!2d103.84513241477602!3d1.372302798999138!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da16e62ea8f665%3A0xcc91505f48101941!2sAng+Mo+Kio+Polyclinic!5e0!3m2!1sen!2ssg!4v1500901361153&output=embed?iframe=true&width=640&height=480" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                    </div> 
                                </div>
                            </div>          
                        </div><!--/.portfolio-item-->
                        
                        <div class="portfolio-item central polyclinic col-xs-12 col-sm-4 col-md-3">
                            <div class="recent-work-wrap">
                                <img class="img-responsive" src="../static/images/amenities/tp.gif" alt="">
                                <div class="overlay">
                                    <div class="recent-work-inner">
                                        <h3><a href="#">Toa Payoh Polyclinic</a></h3>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                        <a class="preview" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.737153975155!2d103.85650233990722!3d1.3338811693121937!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da177af49a95d3%3A0x14fc6544ee2d2578!2sToa+Payoh+Polyclinic+NHG!5e0!3m2!1sen!2ssg!4v1500901544335&output=embed?iframe=true&width=640&height=480" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                    </div> 
                                </div>
                            </div>          
                        </div><!--/.portfolio-item-->
                        
                        <div class="portfolio-item central hospital col-xs-12 col-sm-4 col-md-3">
                            <div class="recent-work-wrap">
                                <img class="img-responsive" src="../static/images/amenities/kk.jpg" alt="">
                                <div class="overlay">
                                    <div class="recent-work-inner">
                                        <h3><a href="#">KK Women's And Children's Hospital (KKH)</a></h3>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                        <a class="preview" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7581624332156!2d103.84409841477591!3d1.3208574990366362!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da19c1b10a921f%3A0x8332ae01f3013261!2sKK+Women&#39;s+and+Children&#39;s+Hospital!5e0!3m2!1sen!2ssg!4v1500962210891&output=embed?iframe=true&width=640&height=480" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                    </div> 
                                </div>
                            </div>          
                        </div><!--/.portfolio-item-->
                        
                        <div class="portfolio-item central hospital col-xs-12 col-sm-4 col-md-3">
                            <div class="recent-work-wrap">
                                <img class="img-responsive" src="../static/images/amenities/tts.jpg" alt="">
                                <div class="overlay">
                                    <div class="recent-work-inner">
                                        <h3><a href="#">Tan Tock Seng Hospital</a></h3>
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                        <a class="preview" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7581624332156!2d103.84409841477591!3d1.3208574990366362!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da19de12e1c099%3A0x89e7198a7038d66f!2sTan+Tock+Seng+Hospital!5e0!3m2!1sen!2ssg!4v1500962236717&output=embed?iframe=true&width=640&height=480" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                    </div> 
                                </div>
                            </div>          
                        </div><!--/.portfolio-item-->
                    </div>
                </div>
            </div>
        </section><!--/#portfolio-item-->
        {% endblock %}
