{% extends 'layout.html' %}
{% block title %}forumpost{% endblock %}
{% block body %}
    {% from "includes/_formhelper.html" import render_field %}
    <div class="container">
        {% if form.errors %}
            <div class="alert alert-danger">
                <ul>
                    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                        {% for error in field_errors %}
                            <li>{{ form[field_name].label }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="col-sm-offset-2" style="margin-top: 140px">
            <h2>Diet target setting</h2>
            <p>
                To keep a health and balance diet, it is recommended that for an averege man needs about <br> 2500
                calories while and average woman needs 2000 calories per day.Here is a place for you <br> to set
                your
                targeted (calories, fats, proteins and Carbs)
            </p>
        </div>
        <form class="form-horizontal" method="POST">
            <div class="form-group">
                <div class="col-sm-12" style="margin-top: 20px">
                    {{ render_field(form.totalcalories, class_="form-control col-sm-pull-2") }}
                </div>
                <div class="col-sm-12" style="margin-top: 20px">
                    {{ render_field(form.carbohydrates, class_="form-control col-sm-pull-2", placeholder="in grams") }}
                </div>
                <div class="col-sm-12" style="margin-top: 20px">
                    {{ render_field(form.proteins, class_="form-control col-sm-pull-2", placeholder="in grams") }}
                </div>
                <div class="col-sm-12" style="margin-top: 20px">
                    {{ render_field(form.fats, class_="form-control col-sm-pull-2", placeholder="in grams") }}
                </div>
                <div class="col-sm-offset-8" style="margin-bottom: 150px">
                    <input type="submit" class="btn btn-primary" value="Post">
                </div>
            </div>
        </form>
    </div>
{% endblock %}