{% extends 'layout.html' %}
{% block title %}Edit Profile{% endblock %}
{% block body %}
 <section id="portfolio">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Settings</h2>
        </div>
        <div id="content">
            <div id="horiznav_nav">
                <ul>
                    <li>
                        <a href=''>Profile</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
 </section>
{% endblock %}
