{% extends 'layout.html' %}
{% block title%}forumDisplay{% endblock %}
{% block body%}
{% from "includes/_formhelper.html" import render_field %}
<div class="container">
   <div class="row">
       <div class="col-sm-8 col-xs-12">
           <div class="panel panel-info">
               <div class="panel-heading">Health Forum</div>
               <div class="panel-body">
                {% for albert in forum %}
                    <h2>{{ albert.get_title() }}</h2>
                    <p>{{ albert.get_content() }}</p>
                {% endfor %}
               </div>
           </div>
       </div>
       <div class="col-sm-4 col-xs-12">
           <form class="blog" method="POST">
               <div class="form-group">
                    <input type="text" id="search"  class="form-control search_box" autocomplete="off" placeholder="Search Here">
               </div>
           </form>
           <div class="panel panel-info" style="margin-top: 50px">
               <div class="panel-heading">What is this?</div>
               <div class="panel-body">A community of people coming together to share thoughts on health and wellness.</div>
               <div class="panel-body">Want to add a now post?<a href="/forumpost">Click here</a></div>
           </div>
       </div>
   </div>
</div>
{% endblock %}