{% extends 'layout.html' %}
{% block title %}forumDisplay{% endblock %}
{% block body %}
    {% from "includes/_formhelper.html" import render_field %}
    <div class="container">
        <div class="row">
            <div class="col-md-2 paddingTop20">
                <nav class="nav-sidebar">
                    <ul class="nav">
                        <li class="nav-divider"></li>
                        {% if session['logged_in'] == True %}
                           <li><a href="/forumpost">Post</a></li>
                        {% endif %}
                        <li><a href="javascript:;">Nutrition</a></li>
                        <li><a href="javascript:;">Fitness</a></li>
                        <li><a href="javascript:;">Recipes</a></li>
                        <li class="nav-divider"></li>
                        {% if session['logged_in'] != True %}
                            <li><a href="/login"><i class="glyphicon glyphicon-off"></i> Sign in</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <div class="col-md-10 blogShort">
                {% for i in forum %}
                    {% if i.get_type() == "N" %}
                        <div>
                            <article>
                                <h1>{{ i.get_title() }}</h1>
                                <p>{{ i.get_content() }}</p>
                                <p>{{ i.get_ingredient() }}</p>
                                <p>{{ i.get_method }}</p>
                            </article>
                        </div>
                    {% elif i.get_type() == "F" %}
                        <div>
                            <article>
                                <h1>{{ i.get_title() }}</h1>
                                <p>{{ i.get_content() }}</p>
                                <p>{{ i.get_time() }}</p>
                                <p>{{ i.get_exercise() }}</p>
                            </article>
                        </div>
                    {% else %}
                        <div>
                            <article>
                                <h1>{{ i.get_title() }}</h1>
                                <p>{{ i.get_content() }}</p>
                            </article>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}