{% extends 'layout.html' %}
{% block title %}forumInput{% endblock %}
{% block body %}
<section id="blog" class="container">
<div class="col-md-6 col-xs-12">
    <div class="container">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="title">title of post:</label>
                <input type="password" class="form-control" id="title">
            </div>
            <div class="form-group">
                <label for="text">text:</label>
                <textarea class="form-control" rows="5" id="text"></textarea>
            </div>
            <div class="form-group">
                <h3>Type:</h3>
            <div class="radio">
                <label><input type="radio" name="optradio">Fitness</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="optradio">nutrition</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="optradio">others</label>
            </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
</section>
{% endblock %}