{% extends 'layout.html' %}
{% block title%}forumDisplay{% endblock %}
{% block body%}
{% from "includes/_formhelper.html" import render_field %}
<div class="container">
   <div class="row">
       <div class="col-sm-8">
           <div class="panel panel-info">
               <div class="panel-heading"></div>
               <div class="panel-body">

               </div>
           </div>
       </div>
       <div class="col-sm-4">
           <form method="POST">
               {{ render_field(form.search)}}
           </form>
           <div class="panel panel-info" style="margin-top: 50px">
               <div class="panel-heading">What is this?</div>
               <div class="panel-body">A community of people coming together to share thoughts on health and wellness.</div>
               <div class="panel-body">Want to add a now post?<a href="/forumpost">Click here</a></div>
           </div>
       </div>
   </div>
</div>
{% endblock %}