{% extends 'layout.html' %}
{% block title %}Gym Locations{% endblock %}
{% block body %}
<section id="portfolio">
    <div class="container">
        <div class="center wow fadeInDown">
        <h2>Gyms</h2>
        <p class="lead wow fadeInUp">Each and every gym in Singapore right at your fingertips</p>
        </div>


        <ul class="portfolio-filter text-center">
            <li><h3>Filter:&nbsp;&nbsp;&nbsp;</h3></li>
            <li><a class="btn btn-default active" href="#" data-filter="*">All</a></li>
            <li><a class="btn btn-default" href="#" data-filter=".northeast">North East</a></li>
            <li><a class="btn btn-default" href="#" data-filter=".northwest">North West</a></li>
            <li><a class="btn btn-default" href="#" data-filter=".southeast">South East</a></li>
            <li><a class="btn btn-default" href="#" data-filter=".southwest">South West</a></li>
            <li><a class="btn btn-default" href="#" data-filter=".central">Central</a></li>
        </ul><!--/#portfolio-filter-->

{#        <ul class="portfolio-filter text-center">#}
{#            <li><a class="btn btn-default" href="#" data-filter=".hospital">Hospital</a></li>#}
{#            <li><a class="btn btn-default" href="#" data-filter=".polyclinic">Polyclinic</a></li>#}
{#        </ul><!--/#portfolio-filter-->#}

        <div class="row">
            <div class="portfolio-items">
                <div class="portfolio-item northeast col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="../static/images/gyms/amkanytime.gif" alt=""/>
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Anytime Fitness - Ang Mo Kio</a></h3>
                                <p class="yohoho">TEST TEST</p>
                                <a class="preview"
                                   href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.6746766766782!2d103.84377611415904!3d1.3718821618878692!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da16e792afd7bf%3A0xfe3fdd7bd1facff!2sAnytime+Fitness+-+Ang+Mo+Kio!5e0!3m2!1sen!2ssg!4v1513261037590&output=embed?iframe=true&width=640&height=480"
                                   rel="prettyPhoto"
                                   title="Contact Number: +65 868 76168">
                                    <i class="fa fa-eye"></i> Directions</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item northeast col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="../static/images/gyms/greenwichanytime.gif" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Anytime Fitness Greenwich</a></h3>
                                <p>SAMPLE TEXT</p>
                                <a class="preview" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.6481659949923!2d103.86735081415895!3d1.3876925618407028!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1661f31582c9%3A0xbf8cdfccc88b7f6!2sAnytime+Fitness+Greenwich!5e0!3m2!1sen!2ssg!4v1513260246782&output=embed?iframe=true&width=640&height=480" rel="prettyPhoto" title="Contact Number: +65 9898 7161"><i class="fa fa-eye"></i> Directions</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item northeast col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="../static/images/gyms/houganganytime.gif" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Anytime Fitness Hougang</a></h3>
                                <p>SAMPLE TEXT</p>
                                <a class="preview" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.6689758289717!2d103.88071531415903!3d1.3752973618777173!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1645ac0d9783%3A0x6f647496e217fbda!2sAnytime+Fitness+Hougang!5e0!3m2!1sen!2ssg!4v1513261665385&output=embed?iframe=true&width=640&height=480" rel="prettyPhoto" title="Contact Number: +65 9432 2807"><i class="fa fa-eye"></i> Directions</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item northeast col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="../static/images/gyms/kovananytime.gif" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Anytime Fitness Kovan</a></h3>
                                <p>SAMPLE TEXT</p>
                                <a class="preview" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.6938237576765!2d103.88598731387066!3d1.3603489990078488!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da17b44aee8093%3A0xfd61e0d56be77411!2sAnytime+Fitness+Kovan!5e0!3m2!1sen!2ssg!4v1513261972794&output=embed?iframe=true&width=640&height=480" rel="prettyPhoto" title="Contact Number: 6280 8800"><i class="fa fa-eye"></i> Directions</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item northwest col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="../static/images/gyms/choachukanganytime.gif" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Anytime Fitness Choa Chu Kang</a></h3>
                                <p>SAMPLE TEXT</p>
                                <a class="preview" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.666346993617!2d103.74334031415898!3d1.3768693618730328!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da11c43019f101%3A0xe65c130c7ea503f8!2sAnytime+Fitness+Choa+Chu+Kang!5e0!3m2!1sen!2ssg!4v151326240457&output=embed?iframe=true&width=640&height=480" rel="prettyPhoto" title="Contact Number: 9040 8302"><i class="fa fa-eye"></i> Directions</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item northwest col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="../static/images/gyms/woodlandsanytime.gif" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Anytime Fitness Woodlands</a></h3>
                                <p>SAMPLE TEXT</p>
                                <a class="preview" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.580145288179!2d103.79007571415892!3d1.427457961720281!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da13bb8032de31%3A0x1ee109f30d9db2fa!2sAnytime+Fitness+Woodlands!5e0!3m2!1sen!2ssg!4v1513262682809&output=embed?iframe=true&width=640&height=480" rel="prettyPhoto" title="Contact Number: +65 91187151"><i class="fa fa-eye"></i> Directions</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item southeast col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="../static/images/gyms/kallanganytime.gif" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Anytime Fitness Kallang Wave</a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.786361305299!2d103.87065781415916!3d1.303171762088103!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da184bf0bd7247%3A0x18fa85b9bc74ba95!2sAnytime+Fitness+Kallang+Wave!5e0!3m2!1sen!2ssg!4v1513263054481&output=embed?iframe=true&width=640&height=480" rel="prettyPhoto" title="Contact Number: +65 8809 7170"><i class="fa fa-eye"></i> Directions</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item southeast col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="../static/images/gyms/macphersonanytime.gif" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Anytime Fitness MacPherson</a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.753987797403!2d103.88263631415911!3d1.3234556620297941!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1826d00a0071%3A0xc7df998cef08dca6!2sAnytime+Fitness+MacPherson!5e0!3m2!1sen!2ssg!4v1513263370298&output=embed?iframe=true&width=640&height=480" rel="prettyPhoto" title="Contact Number: +65 9340 6233"><i class="fa fa-eye"></i> Directions</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item southeast col-xs-12 col-sm-4 col-md-3">

                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="../static/images/gyms/tampinesmartanytime.gif" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Anytime Fitness Tampines Mart</a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.70401095049!2d103.9581780141591!3d1.3541727619402153!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da3d1d545a71b7%3A0x6a3608569a73b34e!2sAnytime+Fitness+Tampines+Mart!5e0!3m2!1sen!2ssg!4v1513263615278&output=embed?iframe=true&width=640&height=480" rel="prettyPhoto" title="Contact Number: +65 90173533"><i class="fa fa-eye"></i> Directions</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item southeast col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="../static/images/gyms/tampineswestanytime.gif" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Anytime Fitness Tampines West</a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7124931291637!2d103.93368761415904!3d1.349008661955383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da3d6b668ad977%3A0x33e062433754ec22!2sAnytime+Fitness+Tampines+West!5e0!3m2!1sen!2ssg!4v1513263721023&output=embed?iframe=true&width=640&height=480" rel="prettyPhoto" title="Contact Number: 8186 7478"><i class="fa fa-eye"></i> Directions</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item southwest col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="../static/images/gyms/jurongcentralanytime.gif" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Anytime Fitness Jurong Central</a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7101775906003!2d103.72681431415903!3d1.3504203619512343!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1020aa6ab389%3A0x4eeb439723d8c837!2sAnytime+Fitness+Jurong+Central!5e0!3m2!1sen!2ssg!4v1513264324693&output=embed?iframe=true&width=640&height=480" rel="prettyPhoto" title="Contact Number: +65 81714771"><i class="fa fa-eye"></i> Directions</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item southwest col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="../static/images/gyms/juronggatewayanytime.gif" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Anytime Fitness Jurong Gateway</a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.735593201829!2d103.73732371415912!3d1.3348436619967659!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da10056e75ed17%3A0xacfd166b109b053e!2sAnytime+Fitness+Jurong+Gateway!5e0!3m2!1sen!2ssg!4v1513264480125&output=embed?iframe=true&width=640&height=480" rel="prettyPhoto" title="Contact Number: +65 6566 8481"><i class="fa fa-eye"></i> Directions</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item southwest col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="../static/images/gyms/jurongwestanytime.gif" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Anytime Fitness Jurong West</a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.724360798886!2d103.69062321368787!3d1.3417500639511883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da0f99963d00d7%3A0x52e539fe1bb3a4ce!2sAnytime+Fitness+Jurong+West!5e0!3m2!1sen!2ssg!4v1513265185539&output=embed?iframe=true&width=640&height=480" rel="prettyPhoto" title="Contact Number: +65 94755480"><i class="fa fa-eye"></i> Directions</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item central col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="../static/images/gyms/toapayohanytime.gif" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Anytime Fitness Toa Payoh</a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7387044134566!2d103.8468033141591!3d1.3329243620023465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1766ce3d8b97%3A0xe51212550a25d516!2sAnytime+Fitness+Toa+Payoh!5e0!3m2!1sen!2ssg!4v1513265519827&output=embed?iframe=true&width=640&height=480" rel="prettyPhoto" title="Contact Number: +65 83798092"><i class="fa fa-eye"></i> Directions</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item central col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="../static/images/gyms/potongpasiranytime.gif" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Anytime Fitness Potong Pasir</a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href=https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7446769332355!2d103.86726891415907!3d1.3292321620130683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1781b7d89047%3A0xb4dcf0212d95d511!2sAnytime+Fitness+Potong+Pasir!5e0!3m2!1sen!2ssg!4v1513265727596&output=embed?iframe=true&width=640&height=480" rel="prettyPhoto" title="Contact Number: 8748 8208"><i class="fa fa-eye"></i> Directions</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

            </div>
        </div>
    </div>
</section>
{% endblock %}