<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Medical Stocks | WeabOOPP</title>
        
        <!-- core CSS -->
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/css/font-awesome.min.css" rel="stylesheet">
        <link href="../static/css/prettyPhoto.css" rel="stylesheet">
        <link href="../static/css/animate.min.css" rel="stylesheet">
        <link href="../static/css/main.css" rel="stylesheet">
        <link href="../static/css/responsive.css" rel="stylesheet">
        <link rel="shortcut icon" href="../static/images/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../static/images/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../static/images/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../static/images/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="../static/images/ico/apple-touch-icon-57-precomposed.png">
    </head><!--/head-->

    <body>
        {% include 'includes/_navbar.html' %}
        <section class="pricing-page">
            <div class="container">
                <div class="center wow fadeInDown">  
                    <h2>Medical Solutions</h2>
                    <p class="lead">Shop your medical needs</p>
                </div>  
            <div class="row">
                <div class="col-md-3 wow fadeInUp">
                    <div>
                        <a href="#" class="list-group-item active">Guardian
                        </a>
                        <ul class="list-group">
                            <li class="list-group-item">Pills
                            <span class="label label-primary pull-right">20</span>
                            </li>
                            <li class="list-group-item">Bandaids
                        <span class="label label-success pull-right">20</span>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <a href="#" class="list-group-item active list-group-item-success">Watsons
                        </a>
                        <ul class="list-group">
                            <li class="list-group-item">Pills
                            <span class="label label-primary pull-right">20</span>
                            </li>
                            <li class="list-group-item">Bandaids
                        <span class="label label-success pull-right">20</span>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-md-9 wow fadeInUp">
                    <div>
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active">Guardian</li>
                        </ol>
                    </div>
                    <!-- /.div -->
                    <div class="row">
                        <div class="btn-group alg-right-pad">
                            <button type="button" class="btn btn-default"><strong>20 </strong>items</button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                    Sort Products &nbsp;
                                <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">By Price Low</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">By Price High</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">By Popularity</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <br />
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-md-4 text-center col-sm-6 col-xs-6">
                            <div class="thumbnail product-box">
                                <img src="../static/images/stocks/dummyimage.jpg" alt="" />
                                <div class="caption">
                                    <h3><a href="#">Pills </a></h3>
                                    <p>Price : <strong>$ 10</strong>  </p>
                                    <p><a href="#">Click here for more details </a></p>
                                    <p>Strong pills   </p>
                                    <p><a href="https://www.guardian.com.sg/go-healthy-go-grape-seed-60000mg-120s-vegecapsules/p/604292" target="mainframe" class="btn btn-primary" role="button">Add to cart</a></p>
                                </div>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-md-4 text-center col-sm-6 col-xs-6">
                            <div class="thumbnail product-box">
                                <img src="../static/images/stocks/dummyimage.jpg" alt="" />
                                <div class="caption">
                                    <h3><a href="#">Pills </a></h3>
                                    <p>Price : <strong>$ 15</strong>  </p>
                                    <p><a href="#">Click here for more details </a></p>
                                    <p>Strong pills   </p>
                                    <p><a href="#" class="btn btn-primary" role="button">Add to cart</a></p>
                                </div>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-md-4 text-center col-sm-6 col-xs-6">
                            <div class="thumbnail product-box">
                                <img src="../static/images/stocks/dummyimage.jpg" alt="" />
                                <div class="caption">
                                    <h3><a href="#">Pills </a></h3>
                                    <p>Price : <strong>$ 20</strong>  </p>
                                    <p><a href="#">Click here for more details </a></p>
                                    <p>Strong pills   </p>
                                    <p><a href="#" class="btn btn-primary" role="button">Add to cart</a></p>
                                </div>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <ul class="pagination alg-right-pad">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>
                    <!-- /.row -->
                    <!-- /.row -->
                    <!-- /.row -->
                </div>
                <!-- /.col -->
            </div>
            </div><!--/container-->
        </section><!--/pricing-page-->

        <footer id="footer" class="midnight-blue">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="pull-right">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Faq</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer><!--/#footer-->
        {% include 'includes/_footer.html' %}
        <script type="text/javascript">
            $('.carousel').carousel()
        </script>
    </body>

</html>