<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Medical Stocks | WeabOOPP</title>
        
        <!-- core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="css/prettyPhoto.css" rel="stylesheet">
        <link href="css/animate.min.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">
        <link href="css/responsive.css" rel="stylesheet">       
        <link rel="shortcut icon" href="images/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
    </head><!--/head-->

    <body>

        <header id="header">

            <nav class="navbar navbar-inverse" role="banner">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html">WeabOOPP</a>
                    </div>
                    
                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li><a href="index.html">Home</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Fitness <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="gym_fitness.html">Gym and Fitness Corners</a></li>
                                    <li><a href="calculator.html">BMI and Calories Calculator</a></li>
                                    <li><a href="workouts.html">Workouts</a></li>
                                    <li><a href="food_recipes.html">Food and Recipes</a></li>
                                </ul>
                            </li>
                            <li class="dropdown active">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Medical <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="active"><a href="#">Medical Stocks </a></li>
                                    <li><a href="amenities.html">Medical Ammenities</a></li>
                                </ul>
                            </li>    
                            <li><a href="">Campaigns</a></li>
                            <li><a href="about_us.html">About Us</a></li> 
                            <li><a href="contact_us.html">Contact Us</a></li> 
                            <li><a href="my_profile.html">Login / Register</a></li>                       
                        </ul>
                    </div>
                </div><!--/.container-->
            </nav><!--/nav-->
            
        </header><!--/header-->

        <section class="pricing-page">
            <div class="container">
                <div class="center wow fadeInDown">  
                    <h2>Medical Solutions</h2>
                    <p class="lead">Shop your medical needs</p>
                </div>  
            <div class="row">
                <div class="col-md-3 wow fadeInUp">
                    <div>
                        <a href="#" class="list-group-item active">Guardian
                        </a>
                        <ul class="list-group">
                            <li class="list-group-item">Pills
                            <span class="label label-primary pull-right">20</span>
                            </li>
                            <li class="list-group-item">Bandaids
                        <span class="label label-success pull-right">20</span>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <a href="#" class="list-group-item active list-group-item-success">Watsons
                        </a>
                        <ul class="list-group">
                            <li class="list-group-item">Pills
                            <span class="label label-primary pull-right">20</span>
                            </li>
                            <li class="list-group-item">Bandaids
                        <span class="label label-success pull-right">20</span>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-md-9 wow fadeInUp">
                    <div>
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active">Guardian</li>
                        </ol>
                    </div>
                    <!-- /.div -->
                    <div class="row">
                        <div class="btn-group alg-right-pad">
                            <button type="button" class="btn btn-default"><strong>20 </strong>items</button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                    Sort Products &nbsp;
                                <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">By Price Low</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">By Price High</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">By Popularity</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <br />
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-md-4 text-center col-sm-6 col-xs-6">
                            <div class="thumbnail product-box">
                                <img src="images/stocks/dummyimage.jpg" alt="" />
                                <div class="caption">
                                    <h3><a href="#">Pills </a></h3>
                                    <p>Price : <strong>$ 10</strong>  </p>
                                    <p><a href="#">Click here for more details </a></p>
                                    <p>Strong pills   </p>
                                    <p><a href="https://www.guardian.com.sg/go-healthy-go-grape-seed-60000mg-120s-vegecapsules/p/604292" target="mainframe" class="btn btn-primary" role="button">Add to cart</a></p>
                                </div>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-md-4 text-center col-sm-6 col-xs-6">
                            <div class="thumbnail product-box">
                                <img src="images/stocks/dummyimage.jpg" alt="" />
                                <div class="caption">
                                    <h3><a href="#">Pills </a></h3>
                                    <p>Price : <strong>$ 15</strong>  </p>
                                    <p><a href="#">Click here for more details </a></p>
                                    <p>Strong pills   </p>
                                    <p><a href="#" class="btn btn-primary" role="button">Add to cart</a></p>
                                </div>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-md-4 text-center col-sm-6 col-xs-6">
                            <div class="thumbnail product-box">
                                <img src="images/stocks/dummyimage.jpg" alt="" />
                                <div class="caption">
                                    <h3><a href="#">Pills </a></h3>
                                    <p>Price : <strong>$ 20</strong>  </p>
                                    <p><a href="#">Click here for more details </a></p>
                                    <p>Strong pills   </p>
                                    <p><a href="#" class="btn btn-primary" role="button">Add to cart</a></p>
                                </div>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <ul class="pagination alg-right-pad">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>
                    <!-- /.row -->
                    <!-- /.row -->
                    <!-- /.row -->
                </div>
                <!-- /.col -->
            </div>
            </div><!--/container-->
        </section><!--/pricing-page-->

        <footer id="footer" class="midnight-blue">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="pull-right">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Faq</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer><!--/#footer-->

        <script src="js/jquery.js"></script>
        <script type="text/javascript">
            $('.carousel').carousel()
        </script>

        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.prettyPhoto.js"></script>
        <script src="js/jquery.isotope.min.js"></script>
        <script src="js/main.js"></script>
        <script src="js/wow.min.js"></script>

    </body>

</html>