<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>My Profile | WeabOOPP</title>
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/css/font-awesome.min.css" rel="stylesheet">
        <link href="../static/css/prettyPhoto.css" rel="stylesheet">
        <link href="../static/css/animate.min.css" rel="stylesheet">
        <link href="../static/css/main.css" rel="stylesheet">
        <link href="../static/css/responsive.css" rel="stylesheet">
        <link rel="shortcut icon" href="../static/images/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../static/images/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../static/images/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../static/images/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="../static/images/ico/apple-touch-icon-57-precomposed.png">
    </head><!--/head-->

    <body>
        {% include 'includes/_navbar.html' %}

        <section id="portfolio">
            <div class="container">
                <div class="col-lg-3 col-md-4 col-sm-8">
                    <div>
                        <img src="../static/images/portfolio/steve.jpg" class="img-circle" style="height:210px; width: 210px;">
                    </div>
                    <div style="width: 85%">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Steve</div>
                            <div class="panel-body">
                                Date of birth: 15 june 1999<br>
                                Gender: Male
                            </div>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">Useful Links</div>
                            <div class="panel-body col-sm-9">
                                <a href="#">Diet Planner</a>
                                <a href="#">Caledar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div  class="col-lg-8 col-md-8 col-sm-8">
                    <div class="panel panel-warning">
                        <div class="panel-heading">Medical Condition</div>
                        <div><button type="button" class="btn btn-primary btn-xs">Add New</button></div>
                        <div class="panel-body">
                            <ul>
                                <li>Asthma</li>
                                <li></li>
                            </ul>   
                        </div>
                    </div>
                    <div class="panel panel-warning">
                        <div class="panel-heading">Medicine</div>
                        <div><button type="button" class="btn btn-primary btn-xs">Add New</button></div>
                        <div class="panel-body">
                            <ul>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-warning">
                        <div class="panel-heading">Upcoming Appointment</div>
                        <div><button type="button" class="btn btn-primary btn-xs">Add New</button></div>
                        <div class="panel-body">
                            <ul>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-warning">
                        <div class="panel-heading">Favourited Workouts</div>
                        <div><button type="button" class="btn btn-primary btn-xs">Add New</button></div>
                        <div class="panel-body">
                            <ul>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--/#portfolio-item-->

        {% include 'includes/_footer.html' %}
    </body>

</html>
