<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>My Profile | WeabOOPP</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="css/prettyPhoto.css" rel="stylesheet">
        <link href="css/animate.min.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">
        <link href="css/responsive.css" rel="stylesheet">      
        <link rel="shortcut icon" href="images/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
    </head><!--/head-->

    <body>

        <header id="header">

            <nav class="navbar navbar-inverse" role="banner">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html">WeabOOPP</a>
                    </div>
                    
                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li><a href="index.html">Home</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Fitness <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="gym_fitness.html">Gym and Fitness Corners</a></li>
                                    <li><a href="calculator.html">BMI and Calories Calculator</a></li>
                                    <li><a href="workouts.html">Workouts</a></li>
                                    <li><a href="food_recipes.html">Food and Recipes</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Medical <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="medshop.html">Medical Stocks </a></li>
                                    <li><a href="amenities.html">Medical Ammenities</a></li>
                                </ul>
                            </li>    
                            <li><a href="">Campaigns</a></li>
                            <li><a href="about_us.html">About Us</a></li> 
                            <li><a href="contact_us.html">Contact Us</a></li> 
                            <li class="active"><a href="#">My Profile</a></li>                       
                        </ul>
                    </div>
                </div><!--/.container-->
            </nav><!--/nav-->
		
        </header><!--/header-->

        <section id="portfolio">
            <div class="container">
                <div class="col-lg-3 col-md-4 col-sm-8">
                    <div>
                        <img src="images/portfolio/steve.jpg" class="img-circle" style="height:210px; width: 210px;">
                    </div>
                    <div style="width: 85%">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Steve</div>
                            <div class="panel-body">
                                Date of birth: 15 june 1999<br>
                                Gender: Male
                            </div>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">Useful Links</div>
                            <div class="panel-body col-sm-9">
                                <a href="#">Diet Planner</a>
                                <a href="#">Caledar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div  class="col-lg-8 col-md-8 col-sm-8">
                    <div class="panel panel-warning">
                        <div class="panel-heading">Medical Condition</div>
                        <div><button type="button" class="btn btn-primary btn-xs">Add New</button></div>
                        <div class="panel-body">
                            <ul>
                                <li>Asthma</li>
                                <li></li>
                            </ul>   
                        </div>
                    </div>
                    <div class="panel panel-warning">
                        <div class="panel-heading">Medicine</div>
                        <div><button type="button" class="btn btn-primary btn-xs">Add New</button></div>
                        <div class="panel-body">
                            <ul>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-warning">
                        <div class="panel-heading">Upcoming Appointment</div>
                        <div><button type="button" class="btn btn-primary btn-xs">Add New</button></div>
                        <div class="panel-body">
                            <ul>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-warning">
                        <div class="panel-heading">Favourited Workouts</div>
                        <div><button type="button" class="btn btn-primary btn-xs">Add New</button></div>
                        <div class="panel-body">
                            <ul>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--/#portfolio-item-->

        <footer id="footer" class="midnight-blue">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="pull-right">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Faq</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer><!--/#footer-->

        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.prettyPhoto.js"></script>
        <script src="js/jquery.isotope.min.js"></script>
        <script src="js/main.js"></script>
        <script src="js/wow.min.js"></script>

    </body>

</html>
