{% extends 'layout.html' %}
{% block title %}My Profile{% endblock %}
{% block body %}
    {% from "includes/_formhelper.html" import render_field %}
    <section id="portfolio">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>{{ username }}'s Profile</h2>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8">
                <div>
                    <img src="../static/images/portfolio/steve.jpg" class="img-circle"
                         style="height:210px; width: 210px;">
                </div>
                <div style="width: 85%">
                    <div class="panel panel-primary">
                        <div class="panel-heading">{{ fname }} {{ lname }}</div>
                        <div class="panel-body">
                            {% if (birthday != '') or (birthday == 'None') %}
                                <p>Birthday: {{ birthday }}</p>
                            {% endif %}

                            {% if (gender != '') or (birthday == 'None') %}
                                <p>Gender: {{ gender }}</p>
                            {% endif %}

                            {% if (about != '') %}
                                <p>About Me: {{ about }}</p>
                            {% endif %}

                            {% if (sports != []) %}
                                <p>Interested in: </p>
                                <ul>
                                    {% for sport in sports %}
                                        <li>{{ sport.capitalize() }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            {% if ((birthday and gender and about)=='') %}
                                <p><em>This person should be more descriptive!</em></p>
                            {% endif %}
                            {% if ((BMI != [])) %}
                                <p>Current BMI:</p>
                                <ul>
                                    {% for BMI in bmi %}
                                        <li>{{ BMI.get_BMI() }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            {% if session['id']==username %}
                                <a class="btn btn-default" href="/edit_profile">Edit Profile</a>
                            {% endif %}

                            {% if (session['id'] != username and session['logged_in'] == True and username not in friends_list and username not in pending_list) %}
                                <form method="POST">
                                    {{ form.friend_name(class='form-control') }}
                                    <input type="hidden" name="form-add" value="{{ username }}">
                                </form>
                            {% elif (session['id'] != username and username in friends_list) %}
                                <p class="btn btn-info disabled" style="cursor: default;">You are friends
                                    with {{ username }}</p>
                            {% elif (session['id'] != username and username in pending_list) %}
                                <p class="btn btn-danger disabled" style="cursor: default;">You have already
                                    added {{ username }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">Useful Links</div>
                        <div class="panel-body col-sm-9">
                            <li><a href="/diet_planner">Diet Target</a></li>
                            <li><a href="#">Calendar</a></li>
                            <li><a herf="/forumdisplay">Forum</a></li>
                            <li><a href="#">Favourite Workout</a></li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                <ul class="nav nav-pills nav-justified">
                    <li class="active"><a data-toggle="pill" href="#current-illnesses">Current Illnesses</a></li>
                    <li><a data-toggle="pill" href="#past-illnesses">Past Illnesses</a></li>
                </ul>
                        {% if (session['id'] != username and session['logged_in'] == True and username not in friends_list and username not in pending_list) %}
                            <form method="POST">
                                {{ form.friend_name(class='form-control') }}
                                <input type="hidden" name="form-add" value="{{ username }}">
                            </form>
                        {% elif (session['id'] != username and username in friends_list) %}
                            <p class="btn btn-info disabled" style="cursor: default;">You are friends with {{ username }}</p>
                        {% elif (session['id'] != username and username in pending_list) %}
                            <p class="btn btn-danger disabled" style="cursor: default;">You have already added {{ username }}</p>
                        {% endif %}

                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">Useful Links</div>
                    <div class="panel-body col-sm-9">
                        <li><a href="#">Diet Planner</a></li>
                        <li><a href="#">Calendar</a></li>
                        <li><a href="/forumdisplay">Forum</a></li>
                    </div>
                </div>
            </div>
        </div>
        <div  class="col-lg-8 col-md-8 col-sm-8">
        {% if (session['id'] == username) %}
            <ul class="nav nav-pills nav-justified">
                <li class="active"><a data-toggle="pill" href="#current-illnesses">Current Illnesses</a></li>
                <li><a data-toggle="pill" href="#past-illnesses">Past Illnesses</a></li>
            </ul>

                <div class="tab-content">
                    <div id="current-illnesses" class="tab-pane fade in active">
                        <table class="table table-bordered">
                            <thead>
                            {% if (current != []) %}
                                <tr>
                                    <th>Type of Illness</th>
                                    <th>Start Date</th>
                                    <th></th>
                                </tr>
                            {% endif %}
                            </thead>

                        <tbody>
                        {% for c_illness in current %}
                        <tr>
                            <td>{{ c_illness.get_illness() }}</td>
                            <td>{{ c_illness.get_startdate() }}</td>
                            <td><form action="{{url_for('delete_current', illness=c_illness.get_illness())}}" method="post">
                                <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');"></form></td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="2"><em>This person does not have any current illnesses.</em></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div><a class="btn btn-default" href="/illnessinput">Add New</a></div>
                </div>
                            <tbody>
                            {% for c_illness in current %}
                                <tr>
                                    <td>{{ c_illness.get_illness() }}</td>
                                    <td>{{ c_illness.get_startdate() }}</td>
                                    <td>
                                        <form action="{{ url_for('delete_current', illness=c_illness.get_illness()) }}"
                                              method="post">
                                            <input type="submit" value="Delete" class="btn btn-danger"
                                                   onclick="return confirm('Are you sure you want to delete this item?');">
                                        </form>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="2"><em>This person does not have any current illnesses.</em></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% if (session['id'] == username) %}
                            <div><a class="btn btn-default" href="/illnessinput">Add New</a></div>
                        {% endif %}
                    </div>

                    <div id="past-illnesses" class="tab-pane fade">
                        <table class="table table-bordered">
                            <thead>
                            {% if (past != []) %}
                                <tr>
                                    <th>Type of Illness</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th></th>
                                </tr>
                            {% endif %}
                            </thead>

                            <tbody>
                            {% for p_illness in past %}
                                <tr>
                                    <td>{{ p_illness.get_illness() }}</td>
                                    <td>{{ p_illness.get_startdate() }}</td>
                                    <td>{{ p_illness.get_enddate() }}</td>
                                    <td>
                                        <form action="{{ url_for('delete_past', illness=p_illness.get_illness()) }}"
                                              method="post">
                                            <input type="submit" value="Delete" class="btn btn-danger"
                                                   onclick="return confirm('Are you sure you want to delete this item?');">
                                        </form>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3"><em>This person does not have any past illnesses.</em></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% if (session['id'] == username) %}
                            <div><a class="btn btn-default" href="/illnessinput">Add New</a></div>
                        {% endif %}
                    </div>
                </div>
                        <tbody>
                        {% for p_illness in past %}
                        <tr>
                            <td>{{ p_illness.get_illness() }}</td>
                            <td>{{ p_illness.get_startdate() }}</td>
                            <td>{{ p_illness.get_enddate() }}</td>
                            <td>
                                <form action="{{url_for('delete_past', illness=p_illness.get_illness())}}" method="post">
                                    <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');">
                                </form>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="3"><em>This person does not have any past illnesses.</em></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div><a class="btn btn-default" href="/illnessinput">Add New</a></div>
                </div>
            </div>
        {% endif %}

                <div class="panel panel-warning">
                    <div class="panel-heading">Medicine</div>
                    <div>
                        <button type="button" class="btn btn-primary btn-xs">Add New</button>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li></li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-warning">
                    <div class="panel-heading">Upcoming Appointment</div>
                    <div>
                        <button type="button" class="btn btn-primary btn-xs">Add New</button>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li></li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-warning">
                    <div class="panel-heading">Favourite workout</div>
                    <div class="panel-body">
                        <table class="table table-condensed">
                            <tr>
                                <th>Workout</th>
                                <th>Frequency</th>
                                <th>Duration</th>
                                <th></th>
                            </tr>
                            {% for f in favworkout %}
                            <tr>
                                <td>{{ f.get_favwork() }}</td>
                                <td>{{ f.get_freq() }}</td>
                                <td>{{ f.get_duration() }}</td>
                                <td>
                                    <form action="{{ url_for('delete_workout', favourite=f.get_favwork()) }}"
                                          method="post">
                                        <input type="submit" value="Delete" class="btn btn-danger"
                                               onclick="return confirm('Are you sure you want to delete this item?');">
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                        <div>
                            <a href="/workout">
                                <button type="button" class="btn btn-success">Add</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="panel panel-warning">
                    <div class="panel-heading">Diet goals</div>
                    <div class="panel-body">
                        {% for d in dietTarget %}
                            <ul>
                                <li>Total calories: {{ d.get_totalcalories() }}</li>
                                <li>Target carbohydrates: {{ d.get_carbs() }}</li>
                                <li>Target proteins: {{ d.get_proteins() }}</li>
                                <li>Total fats: {{ d.get_fats() }}</li>
                            </ul>
                            <div>
                                <a href="/diet_planner">
                                    <button type="button" class="btn btn-success">update</button>
                                </a>
                            </div>
                            </div>
                        {% endfor %}
                </div>
                <div class="panel panel-warning" style="width: 770px">
                <div class="panel-heading">Calendar</div>
                    {% include "calendar.html" %}
                </div>
            </div>
        </div>
    </section><!--/#portfolio-item-->
{% endblock %}
{% block botscript %}
    {#<script>#}
    {#    $(document).ready(function () {#}
    {#        $('#friend_name').onclick#}
    {#    })#}
    {#</script>#}
{% endblock %}
