{% extends 'layout.html' %}
{% block title %}My Profile{% endblock %}
{% block body %}
{% from "includes/_formhelper.html" import render_field %}
<section id="portfolio">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>{{ username }}'s Profile</h2>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-8">
            <div>
                <img src="../static/images/portfolio/steve.jpg" class="img-circle" style="height:210px; width: 210px;">
            </div>
            <div style="width: 85%">
                <div class="panel panel-primary">
                    <div class="panel-heading">{{ fname }} {{ lname }}</div>
                    <div class="panel-body">
                        {% if (birthday != '') %}
                            <p>Birthday: {{ birthday }}</p>
                        {% endif %}

                         {% if (gender != '') %}
                            <p>Gender: {{ gender }}</p>
                        {% endif %}

                         {% if (about != '') %}
                            <p>About Me: {{ about }}</p>
                        {% endif %}

                        {% if ((birthday and gender and about)=='') %}
                            <p><em>This person should be more descriptive!</em></p>
                        {% endif %}

                        {% if session['id']==username %}
                            <a class="btn btn-default" href="/edit_profile">Edit Profile</a>
                        {% endif %}

                        {% if (session['id'] != username and session['logged_in'] == True and username not in friends_list) %}
                            <form method="POST">
                                {{ form.friend_name(class='form-control') }}
                                <input type="hidden" name="form-add" value="{{ username }}">
                            </form>
                        {% elif (session['id'] != username and username in friends_list) %}
                            <p class="btn btn-info">You are friends with {{ username }}</p>
                        {% endif %}

                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">Useful Links</div>
                    <div class="panel-body col-sm-9">
                        <a href="#">Diet Planner</a>
                        <a href="#">Caledar</a>
                    </div>
                </div>
            </div>
        </div>
        <div  class="col-lg-8 col-md-8 col-sm-8">
            <div class="panel panel-warning">
                <div class="panel-heading">Medical Condition</div>
                <div><button type="button" class="btn btn-primary btn-xs">Add New</button></div>
                <div class="panel-body">
                    <ul>
                        <li>Asthma</li>
                        <li></li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-warning">
                <div class="panel-heading">Medicine</div>
                <div><button type="button" class="btn btn-primary btn-xs">Add New</button></div>
                <div class="panel-body">
                    <ul>
                        <li></li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-warning">
                <div class="panel-heading">Upcoming Appointment</div>
                <div><button type="button" class="btn btn-primary btn-xs">Add New</button></div>
                <div class="panel-body">
                    <ul>
                        <li></li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-warning">
                <div class="panel-heading">Favourited Workouts</div>
                <div><button type="button" class="btn btn-primary btn-xs">Add New</button></div>
                <div class="panel-body">
                    <ul>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!--/#portfolio-item-->
{% endblock %}
{% block botscript %}
{#<script>#}
{#    $(document).ready(function () {#}
{#        $('#friend_name').onclick#}
{#    })#}
{#</script>#}
{% endblock %}
