{% extends 'layout.html' %}
{% block title %}My Profile{% endblock %}
{% block body %}
<section id="portfolio">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>{{ username }}'s Profile</h2>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-8">
            <div>
                <img src="../static/images/portfolio/steve.jpg" class="img-circle" style="height:210px; width: 210px;">
            </div>
            <div style="width: 85%">
                <div class="panel panel-primary">
                    <div class="panel-heading">{{ fname }} {{ lname }}</div>
                    <div class="panel-body">
                        Date of birth: 15 june 1999<br>
                        Gender: Male<br><br>
                        {% if session['id']==username %}
                            <a class="btn btn-default" href="/edit_profile">Edit Profile</a>
                        {% endif %}
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">Useful Links</div>
                    <div class="panel-body col-sm-9">
                        <a href="#">Diet Planner</a>
                        <a href="#">Caledar</a>
                    </div>
                </div>
            </div>
        </div>
        <div  class="col-lg-8 col-md-8 col-sm-8">
            <div class="panel panel-warning">
                <div class="panel-heading">Medical Condition</div>
                <div><button type="button" class="btn btn-primary btn-xs">Add New</button></div>
                <div class="panel-body">
                    <ul>
                        <li>Asthma</li>
                        <li></li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-warning">
                <div class="panel-heading">Medicine</div>
                <div><button type="button" class="btn btn-primary btn-xs">Add New</button></div>
                <div class="panel-body">
                    <ul>
                        <li></li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-warning">
                <div class="panel-heading">Upcoming Appointment</div>
                <div><button type="button" class="btn btn-primary btn-xs">Add New</button></div>
                <div class="panel-body">
                    <ul>
                        <li></li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-warning">
                <div class="panel-heading">Favourited Workouts</div>
                <div><button type="button" class="btn btn-primary btn-xs">Add New</button></div>
                <div class="panel-body">
                    <ul>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!--/#portfolio-item-->
{% endblock %}
